.tab {
    color: rgba(var(--secondary-color-rgb), 1);
    cursor: pointer;
    width: 40px;
    height: 400px;
    transition: all 0.2s ease-in-out;
    @media(max-width:980px) {
        height: 40px;
        width: 100%;
        margin: 5px 0;
        max-width: 400px;
    }
    .tab_img_title {
        height: 400px;
        @media(max-width:980px) {
            display: flex;
            flex-flow: row-reverse;
            justify-content: flex-end;
            align-items: center;
            height: 40px;
        }
        .img {
            .icon {
                margin: 5px;
                text-align: center;
                transform: rotate(-90deg);
                @media(max-width:980px) {
                    transform: rotate(0);
                }
            }
        }
        .title {
            color: rgba(var(--secondary-color-rgb), 1);
            font-size: 14px;
            height: 360px;
            position: relative;
            @media(max-width:980px) {
                height: auto;
            }
            .text {
                bottom: -15px;
                left: 10px;
                position: absolute;
                transform: rotate(-90deg);
                transform-origin: top left;
                width: 360px;
                p {
                    font-size: 14px;
                }
                @media(max-width:980px) {
                    position: unset;
                    transform: rotate(0);
                    width: auto;
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
    &:hover {
        background: rgba(var(--primary-color-rgb), 1) !important;
    }
    &.open {
        background: rgba(var(--primary-color-rgb), 1) !important;
        position: absolute;
        left: 0;
        z-index: 1;
        @media(max-width: 980px) {
            position: unset;
        }
    }
    &.close {
        position: inherit;
    }
}

.tab_content {
    background: #e60100;
    height: 400px;
    z-index: 1;
    border: 4px solid rgba(var(--primary-color-rgb));
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    position: relative;
    @media(max-width:980px) {
        height: auto;
    }
    &.open {
        position: absolute;
        left: 40px;
        width: 635px;
        @media(max-width:980px) {
            position: relative;
            left: auto;
            width: 100%;
            padding: 20px 0;
        }
        .close_icon {
            .close_icon_img {
                cursor: pointer;
                position: absolute;
                top: -10px;
                right: -10px;
                &:hover {
                    height: 24px;
                    width: 24px;
                }
            }
        }
    }
    &.close {
        border:0;
        overflow: hidden;
        width: 0;
        .close_icon {
            .close_icon_img {
                display: none;
            }
        }
    }
    .rf_iframe {
        border: 0;
        border-radius: 14px;
        html body {
            background: #e60100 !important;
            background-color: #e60100 !important;
        }
    }
}