.socials {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 0;
    height: 50px;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    .socials_icons {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        .social_icon {
            margin: 0 0 0 10px;
            img {
                max-height: 15px;
            }
        }
    }
}